#? Various IDEs... if any are missing please feel free to add them!
.vscode                 #* VsCode who would've thunk?
.idea                   #* IntelliJ/Webstorm
.sublime-project        #* Sublime Text
.sublime-workspace      #* Sublime Text
.project                #* Eclipse
.settings               #* Eclipse
.swp                    #* Vim
.sfdx                   #* SFDX
.cci                    #* Cumulus

#? The node libraries used for this project!
node_modules/           #* NodeJS