.CUGI-PropertyHolder {
    display : flex;
    margin: 2px;
    padding: 0px;

    font-family: monospace;
    font-weight: bold;
}

.CUGI-X {
    border-left-color: #ff0000;
}

.CUGI-Y {
    border-left-color: #00ff00;
}

.CUGI-Z {
    border-left-color: #0000ff;
}

.CUGI-W {
    border-left-color: #ffff00;
}

.CUGI-BroadcastContainer {
    flex-direction: column;

    background-color: var(--background-1);
    border-width: 2px;
    border-style: solid;
    border-color: var(--background-4);
    text-align: center;
    width: 100%;
}

.CUGI-Broadcast {
    display: flex;
    flex-direction: row;
    background-color: var(--background-2);
    border-width: 2px;
    border-style: solid;
    border-color: var(--background-4);
}

.CUGI-BroadcastRemove {
    border-right-color: var(--background-4);
    border-right-style: solid;
    border-right-width: 3px;
    aspect-ratio: 1;
    margin: 0px;
    padding: 0px;
}

.CUGI-BroadcastName {
    margin-left: 8px;
}

.CUGI-BroadcastCreation-Container {
    display: grid;
    grid-template-columns: auto 64px;
}

.CUGI-CollisionGroupContainer {
    flex-direction: column;

    background-color: var(--background-1);
    border-width: 2px;
    border-style: solid;
    border-color: var(--background-4);
    text-align: center;
    width: 100%;
}

.CUGI-CollisionGroupCreation-Container {
    display: grid;
    grid-template-columns: auto 64px;
    border-bottom-color: var(--background-4);
    border-bottom-style: solid;
    border-bottom-width: 4px;
    
    margin-bottom: 8px;
}

.CUGI-CollisionGroup {
    display: flex;
    flex-direction: row;
    background-color: var(--background-2);
    border-width: 2px;
    border-style: solid;
    border-color: var(--background-4);
}

.CUGI-CollisionGroupRemove {
    border-right-color: var(--background-4);
    border-right-style: solid;
    border-right-width: 3px;
    aspect-ratio: 1;
    margin: 0px;
    padding: 0px;
}

.CUGI-CollisionGroupName {
    margin-left: 8px;
}

.CUGI-CollisionMatrixContainer {
    display: grid;
    grid-template-columns: var(--grid);
    width: 100%;
}

.CUGI-CollisionMatrix-GroupName {
    background-color: var(--background-2);
    min-width: 64px;
    min-height: 16px;
    padding: 4px;
    text-align: center;
}

.CUGI-CollisionRightBorder {
    border-right-color: var(--background-3);
    border-right-width: 4px;
    border-right-style: solid;
}

.CUGI-CollisionBottomBorder {
    border-bottom-color: var(--background-3);
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.CUGI-CollisionGroupCheckbox {
    transform: translate(0%, 0%) !important;
}

.CUGI-CollisionGroupCheckboxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-1);
}