input {
    background-color: var(--background-2);
    border-color: var(--background-1);
    border-style: solid;

    color: var(--text-1);

    -moz-appearance: textfield;
    min-width: 128px;
}

select {
    background-color: var(--background-2);
    border-color: var(--background-1);
    border-style: solid;

    color: var(--text-1);
}

dropdown-menu {
    display: inline-block;
    background-color: var(--background-2);
    color: var(--text-1);

    border-style: solid;
    border-radius: 2px;
    border-width: 2px;
    border-color: var(--background-3);

    transition:
        all 100ms,
        visibility 1ms;

    font-size: large;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

dropdown-menu:hover {
    color: var(--text-2);
    background-color: var(--background-3);
}

dropdown-menu:active {
    color: var(--text-1);
    background-color: var(--background-4);
    border-color: var(--background-4);
}

.dropdown-menu-fill-down {
    height: 100%;
}
